<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Demo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
</head>

<body>
<header>
    <h1 style="text-align: center;">Welcome to my Music Library!</h1>
</header>
<main>
    <div class="container">
        <div id="options" style="text-align: center;">Choose the option:</div>
        <p style="text-align: center"><a href="/create-artist-form">1. Create new artist</a></p>
        <p style="text-align: center"><a href="/create-album-form">2. Create new album</a></p>
        <p style="text-align: center"><a href="/albums">3. Show the albums</a></p>
        <p style="text-align: center"><a href="/artists">4. Show the artists</a></p>
    </div>
</main>

</body>

</html>